:root {
    --menuItemHover: #123A8F;
    --megaMenuLinkBackground: #ffffff;
}

.main-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: relative;

    @include breakpoint-up('md') {
        display: flex;
    }

    &:before {
        content: "";
        position: absolute;
        width: 550px;
        height: 450px;
        background: #fff;
        border-radius: 100%;
        left: 50%;
        top: -280px;
        z-index: 0;
        transform: translateX(-50%);
    }

    &__logo {
        width: 225px;
        position: relative;
        max-height: 96px;
        transform: translateY(40px);
        cursor: pointer;

        img {
            max-height: 96px;
            width: 100%;
            object-fit: cover;

            @include breakpoint-up('sm') {
                max-height: 96px;
            }
        }
    };

    &__left {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc(50% - 100px);
        z-index: 11;
    }

    &__right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(50% - 100px);
    }

    &__item {
        position: relative;
        padding-right: 28px;
        cursor: pointer;
        transition: 0.3s;
        color: #3D3331;
        font-family: $NeutraText;

        @include breakpoint-up('md') {
            font-size: 18px;
            line-height: 21px;
        }

        &:hover {
            color: var(--menuItemHover);
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    &__dropdown {
        position: absolute;
        width: 300px;
        background: #fff;
        margin: 0;
        padding: 60px 20px 20px;
        left: -20px;
        top: 20px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        list-style: none;

        &.show {
            opacity: 1;
            pointer-events: initial;
        }

        li {
            padding: 3px 0;
            color: #3D3331;

            @include breakpoint-up('md') {
                font-size: 18px;
                line-height: 21px;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            &:hover {
                color: #123A8F;
            }
        }
    }

    &__mega-menu {
        display: none;
        position: fixed;
        height: 100vh;
        width: 400px;
        background: lightgray;
        z-index: 10;
        left: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        overflow: scroll;

        @include breakpoint-up('md') {
            display: block;
            width: 568px;
        }

        &.show {
            opacity: 1;
            pointer-events: initial;
        }

        &--overlay {
            width: 100vw;
            position: absolute;
            height: 100vh;
            left: 0;
            top: 0;
            opacity: 0.5;
            background: #000;
            filter: blur(0px);
            opacity: 0;
            pointer-events: none;
            transition: 0.3s;

            &.show {
                opacity: 0.3;
                pointer-events: initial;
            }
        }
    }

    .mega-menu {
        // margin: 150px 0 0;
        padding: 150px 0px 60px;

        &__primary-nav,
        &__secondary-nav,
        &__featured-articles,
        &__featured-products {
            position: relative;

            &:before {
                content: "";
                width: calc(100% - 100px);
                left: 50px;
                bottom: -15px;
                height: 1px;
                background: #D0D8E9;
                position: absolute;
            }
        }

        // Remove Bottom Border from last child
        > :last-child {
            &:before {
                display: none;
            }
        }

        &__featured-articles,
        &__featured-products {
            padding: 60px 50px 40px;
        }

        &__featured-article {
            background: #FFE7AB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 25px;  
            cursor: pointer;
            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #3D3331;

            &:not(:first-child) {
                margin-top: 20px;
            }

            &:nth-child(2) {
                background: #F0E3E5;
            }

            &:nth-child(3) {
                background: #C7E0E5;
            }

            &:nth-child(4) {
                background: #B7DCF2;
            }
        }

        &__featured-products {

        }

        &__featured-product {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:first-child) {
                margin-top: 40px;
            }
        }

        &__content {
            padding-left: 30px;
        }

        &__link {
            cursor: pointer;
            padding: 30px 50px;
            transition: 0.3s;

            &:hover {
                background-color: var(--megaMenuLinkBackground);
            }
        }

        &__sub-link {
            cursor: pointer;
            padding: 10px 50px 10px;
            transition: 0.3s;

            &:first-of-type {
                padding: 60px 50px 10px;
            }
        }

        &__sub-header {
            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &__title {
            font-family: 'Domaine Display';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height:38px;
            letter-spacing: 0.02em;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: -0.01em;
        }

        &__eyebrow {
            font-family: $DomaineText;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            color: #3D3331;
            margin-bottom: 10px;
        }

        &__price {
            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #3D3331;
        }

        &__image {
            max-width: 150px;
            width: 100%;

            img {
                max-height: 120px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}