.mobile-menu {
    position: fixed;
    height: 100vh;
    width: calc(100% - 70px);
    background: var(--menuBackground);
    top: 53px;
    z-index: 12;
    transition: 0.5s;
    transform: translateX(calc(-100% - 42px));

    @include breakpoint-up('md') {
        display: none;
    }

    &.is-open {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        right: -42px;
        top: 24px;
        background: var(--menuBackground);
        padding: 11px 12px;
        border-radius: 0 4px 3px 0px;
        cursor: pointer;
    }

    &__back {
        position: absolute;
        z-index: 13;
        top: 24px;
        left: 28px;
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;;
        color: #3D3331;
        display: flex;
        align-items: center;
        background: var(--megaMenuLinkBackground);
        padding: 10px;
        border-radius: 3px;
        width: calc(100% - 56px);

        svg {
            transform: rotate(-90deg);
            margin-right: 20px;
        }
    }

    &__primary {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #3D3331;
        margin: 110px 28px 30px;
        padding: 0 0 40px;
        border: 1px solid #D0D8E9;
        border-width: 0px 0 1px 0px;

        .mobile-menu__item:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__secondary {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        padding: 15px 28px 0;

        .mobile-menu__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        svg {
            transform: rotate(90deg);
        }
    }

    &__sign-in {
        position: fixed;
        bottom: 102px;
        left: 28px;

        a {

            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #3D3331;
            padding: 11px 28px;
            background: #FFFFFF;
            border-radius: 24px;
            text-decoration: none;
        }
    }

    &__slide {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0px;
        z-index: 12;
        transition: 0.5s;
        transform: translateX(calc(-100% - 42px));

        @include breakpoint-up('md') {
            display: none;
        }

        &.is-open {
            transform: translateX(0);
        }

        &.secondary {
            background: #fff;
        }
    }
}