.best-sellers {
    padding: 100px 0;
    overflow: hidden;

    &__content {
        position: relative;
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 34px;
        color: $primaryBrown;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            font-size: 76px;
            line-height: 76px;
            margin-bottom: 90px;
        }
    }

    &__link {
        @include breakpoint-up('md') {
            position: absolute;
            right: 0;
            bottom: 5px;
        }
    }

    &__button {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #3D3331;
        margin-bottom: 30px;

        @include breakpoint-up('md') {
            justify-content: flex-start;
            max-width: max-content;
            margin-bottom: 0px;
        }

        span:last-child {
            margin-left: 20px;
        }
    }

    &__slider {
        overflow: visible;
        width: 255px;

        @include breakpoint-up('md') {
            width: 100%;
        }

        > div {
            overflow:  visible;
        }

        &--desktop {
            display: none;
            @include breakpoint-up('md') {
                display: block;
            }
        }

        &--mobile {
            @include breakpoint-up('md') {
                display: none;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
            left: auto;
            background: #ffff;
            width: 60px;
            height: 60px;
            border-radius: 100%;

            @include breakpoint-up('md') {
                display: block;
            }
        }

        .swiper-button-next {
            right: -110px;
        }

        .swiper-button-prev {
            left: -110px;
        }
    }
}