.content-banner {
    position: relative;
    overflow: hidden;

    @include breakpoint-up('md') {
        padding: 80px 0 0;
    }

    &__container {
        background: #ECDCDE;
        padding: 40px 36px;

        @include breakpoint-down('sm') {
            width: 100%;
        }
        
        @include breakpoint-up('md') {
            padding: 0px 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__image {
        width: 100%;
        position: absolute;
        right: -45%;
        top: -150px;

        @include breakpoint-up('md') {
            max-width: 185px;
            max-height: 144px;
            position: relative;
            right: 0;
            top: 0;
        }

        &--desktop {
            display: none!important;

            @include breakpoint-up('md') {
                display: block!important;
            }
        }

        &--mobile {
            @include breakpoint-up('md') {
                display: none!important;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        @include breakpoint-up('md') {
            margin-bottom: 0;
            padding-right: 60px;
        }
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.01em;
        color: #3D3331;

        @include breakpoint-up('md') {
            font-size: 26px;
            line-height: 29px;
        }
    }

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 34px;
        color: #3D3331;
        margin-bottom: 10px;

        @include breakpoint-up('md') {
            font-size: 48px;
            line-height: 67px;
            margin-bottom: 5px;
        }
    }   

    &__cta {
        position: relative;
        z-index: 1;
        a {
            font-family: $NeutraText;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #3D3331;
            background: #fff;
            padding: 19px 100px;
            max-width: max-content;
            border-radius: 60px;
        }
    }
}

.content-banner__image--desktop {
    display: none;
}