.shop-by-category {
    padding: 100px 0;

    &__header {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 76px;
        line-height: 76px;
        color: $primaryBrown;
        margin-bottom: 90px;
    }

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}