.stories-slider {
    padding: 100px 0;

    &__subheader {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 30px;
    }
}

.stories-slide {
    &__container {
        position: relative;
        display: flex;
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint-up('md') {
            padding-right: 0px;
        }
    }

    &__image {
        width: 50%;

        @include breakpoint-up('md') {
            padding-left: 100px;
        }

        img {
            height: 350px;
            object-fit: cover;

            @include breakpoint-up('md') {
                height: 970px!important;
            }
        }
    }

    &__title {
        font-family: $DomaineText;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: $primaryBrown;
        margin-bottom: 60px;

        @include breakpoint-up('md') {
            font-size: 62px;
            line-height: 62px;
        }
    }

    &__subtitle {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $primaryBrown;
        margin-bottom: 30px;
    }

    &__copy {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        margin-bottom: 70px;
    }

    &__author {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.01em;
        color: $primaryBrown;
        margin-bottom: 20px;
    }

    &__age,
    &__activity {
        font-family: $NeutraText;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 31px;
        letter-spacing: -0.01em;
        color: $primaryBrown;

        span {
            color: #00B188;
        }
    }

    &__pagination {
        display: flex;
        position: relative;
    }

    &__indicator {
        width: 135px;
        height: 4px;
        background: #D0D8E9;
        border-radius: 4px;
        margin-top: 20px;
        margin-right: 12px;
        transition: 0.3s;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background: #5975B1;
        }
    }
}