@font-face {
    font-family: 'DomaineText';
    src: url('./DomaineTextMedium/DomaineText-Regular.otf');
}

@font-face {
    font-family: 'NeutraText';
    src: url('./NeutraTextBookAlt/NeutraTextBookAlt.otf');
}